params {

    max_fastq_records = 250000000

    genomes {
        'GRCh38_umccr' {
            fasta         = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
            fai           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
            dict          = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
            img           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
            gridss_index  = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/gridss_index/2.13.2/"
            bwamem2_index = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa-mem2_index/2.2.1/"
            star_index    = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
        }
    }

    ref_data_hmf_data_path = "s3://oncoanalyser-data/reference_data/hmf_reference_data/hmftools/hmf_pipeline_resources.38_v2.2.0--3/"
    ref_data_hla_slice_bed = "s3://oncoanalyser-data/reference_data/other/grch38_alt.plus_homologous.bed"

}


process {


    /*

    CloudOS job queues:
      - nextflow_task_ondemand_4cpu_16gb  nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392
      - nextflow_task_ondemand_8cpu_32gb  nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9
      - nextflow_task_ondemand_8cpu_64gb  nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577
      - nextflow_task_ondemand_36cpu_72gb nextflow-job-queue-6836ce692b367ba6069920b9-06328b5d-b339-40af-971e

    */


    // NOTE(SW): all single-threaded processes are vastly overprovisioned as the small instance with reasonable memory has 4 vCPUs

    withName: 'SAMTOOLS_FASTQ' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9'
        cpus = 8
        memory = 30.GB
        time = 12.h
    }

    withName: 'FASTP' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
        time = 12.h
    }

    withName: 'BWAMEM2_ALIGN' {

        // NOTE(SW): force temporary directory for `sambamba sort` to avoid filling system /tmp/
        ext.args3 = { "--tmpdir=${task.scratch}" }

        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-06328b5d-b339-40af-971e'
        cpus = 36
        memory = 68.GB
    }

    withName: 'STAR_ALIGN' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577'
        cpus = 8
        memory = 60.GB
    }

    withName: 'SAMTOOLS_SORT' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'SAMBAMBA_MERGE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'GATK4_MARKDUPLICATES' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'REDUX' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577'
        cpus = 8
        memory = 60.GB
        time = 12.h
    }

    withName: 'AMBER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577'
        cpus = 8
        memory = 60.GB
    }

    withName: 'COBALT' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577'
        cpus = 8
        memory = 60.GB
    }

    withName: '.*:ESVEE_CALLING:ESVEE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-266ace7b-003e-4f1a-b577'
        cpus = 8
        memory = 60.GB
    }

    withName: '.*:SAGE_CALLING:SAGE_GERMLINE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9'
        cpus = 8
        memory = 30.GB
    }

    withName: '.*:SAGE_CALLING:SAGE_SOMATIC' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-06328b5d-b339-40af-971e'
        cpus = 36
        memory = 68.GB
    }

    withName: '.*:SAGE_APPEND:SAGE_APPEND_GERMLINE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: '.*:SAGE_APPEND:SAGE_APPEND_SOMATIC' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes
    // NOTE(SW): severely overprovisioning CPUs here due to queue limits

    withName: '.*:PAVE_ANNOTATION:PAVE_(?:GERMLINE|SOMATIC)' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9'
        cpus = 8
        memory = 30.GB
    }

    // NOTE(SW): severely overprovisioning CPUs here due to queue limits

    withName: 'PURPLE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9'
        cpus = 8
        memory = 30.GB
    }

    withName: '.*:LINX_ANNOTATION:LINX_GERMLINE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: '.*:LINX_ANNOTATION:LINX_SOMATIC' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: '.*:LINX_PLOTTING:LINX_VISUALISER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: '.*:LINX_PLOTTING:LINXREPORT' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'CIDER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'BAMTOOLS' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'CHORD' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'EXTRACTCONTIG' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'LILAC' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'SIGS' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'TEAL.*' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'VIRUSBREAKEND' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'VIRUSINTERPRETER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'ISOFOX' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-21163d60-94c6-4736-8fb9'
        cpus = 8
        memory = 30.GB
    }

    withName: 'NEO_SCORER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: '.*:NEO_PREDICTION:NEO_ANNOTATE_FUSIONS' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'NEO_FINDER' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'CUPPA' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'PEACH' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

    withName: 'ORANGE' {
        queue = 'nextflow-job-queue-6836ce692b367ba6069920b9-a24b5fa9-63de-4f23-9392'
        cpus = 4
        memory = 14.GB
    }

}
