/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HMF genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths.
----------------------------------------------------------------------------------------
*/


params {
    genomes {

        // The s3://512426816668-genomes/reference/illumina_dragen/GRCh38_full_analysis_set_plus_decoy_hla.fa GEL genome exactly matches the GRCh38_umccr reference genome
        //'gel_illumina_dragen' {
        //    fasta         = "s3://512426816668-genomes/reference/illumina_dragen/GRCh38_full_analysis_set_plus_decoy_hla.fa"
        //}

        'gel_illumina_dragen' {
            fasta         = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
            fai           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
            dict          = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
            img           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
            bwamem2_index = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa-mem2_index/2.2.1/"
            gridss_index  = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/gridss_index/2.13.2/"
            star_index    = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
        }

        'gel_illumina_nsv2' {
            fasta         = "s3://512426816668-genomes/reference/illumina_nsv2/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa"
        }

        'gel_illumina_nsv4' {
            fasta         = "s3://512426816668-genomes/reference/illumina_nsv4/GRCh38Decoy_no_alt.fa"
        }

    }
}
