params {

    max_fastq_records = 250000000

    genomes {
        'GRCh38_hmf' {
            fasta         = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
            fai           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/samtools_index/1.16/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
            dict          = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/samtools_index/1.16/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.dict"
            bwamem2_index = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/bwa-mem2_index/2.2.1/"
            gridss_index  = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/gridss_index/2.13.2/"
            star_index    = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_hmf/star_index/gencode_38/2.7.3a/"
        }
    }

    ref_data_virusbreakenddb_path = "s3://oncoanalyser-data/reference_data/virusbreakend/virusbreakenddb_20210401/"
    ref_data_hmf_data_path = "s3://oncoanalyser-data/reference_data/hmf_reference_data/hmftools/5.34_38--2/"

}

process {

  /*

  CloudOS job queues:
    - 2cpu_15gb  nextflow-job-queue-669e448073e563ec80ee7203-244c
    - 8cpu_32gb  nextflow-job-queue-669e448073e563ec80ee7203-8c36
    - 8cpu_64gb  nextflow-job-queue-669e448073e563ec80ee7203-f26b
    - 36cpu_72gb nextflow-job-queue-669e448073e563ec80ee7203-5ee8

  */

  withName: 'WRITE_REFERENCE_DATA' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'DECOMP_*' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'SAMTOOLS_FAIDX' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'SAMTOOLS_DICT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BWA_INDEX' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BWAMEM2_INDEX' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 128.GB
  }

  withName: 'GRIDSS_INDEX' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'STAR_GENOMEGENERATE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'FASTP' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'BWAMEM2_ALIGN' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-5ee8'
    cpus = 32
    memory = 68.GB
  }

  withName: 'CRAM_BAM_CONVERT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'MARKDUPS' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 50.GB
  }

  withName: 'STAR_ALIGN' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SAMBAMBA_MERGE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'AMBER' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SVPREP_TUMOR' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SVPREP_NORMAL' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:ASSEMBLE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
    time = 24.h
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:(PREPROCESS|CALL)' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:DEPTH_ANNOTATOR' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
    time = 24.h
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:GERMLINE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SOMATIC' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
    time = 24.hour
  }

  withName: '.*:SAGE_APPEND:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: '.*:PAVE_ANNOTATION:GERMLINE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:SOMATIC' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'PURPLE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
  }

  withName: '.*:LINX_PLOTTING:REPORT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'BAMTOOLS' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
    time = 24.hour
  }

  withName: 'CHORD' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'LILAC' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SIGS' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'VIRUSBREAKEND' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-f26b'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'ISOFOX' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-8c36'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'SAMTOOLS_FLAGSTAT' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 2
    memory = 12.GB
  }

  withName: 'ORANGE' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    queue = 'nextflow-job-queue-669e448073e563ec80ee7203-244c'
    cpus = 1
    memory = 12.GB
  }

}
