params {

    genomes {
        'GRCh38_umccr' {
            fasta         = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
            fai           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
            dict          = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
            img           = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
            gridss_index  = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/gridss_index/2.13.2/"
            bwamem2_index = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/bwa-mem2_index/2.2.1/"
            star_index    = "s3://oncoanalyser-data/reference_data/genomes/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
        }
    }

    ref_data_hmf_data_path = "s3://oncoanalyser-data/reference_data/hmf_reference_data/hmftools/hmf_pipeline_resources.38_v2.2.0--3/"
    ref_data_hla_slice_bed = "s3://oncoanalyser-data/reference_data/other/grch38_alt.plus_homologous.bed"

}
